@media only screen and (max-width: 600px) {   

    #grilla{
        gap: $espacio-grillas;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "foto1 foto2"
        "foto3 foto4";
 
    
    .item1{
        grid-area: foto1;
        width: 100%;
        height: 100%
    }
    .item2{
        grid-area: foto2;
    }
    .item3{
        grid-area: foto3;
    }
    .item4{
        grid-area: foto4;
    }   }
    
 
    
    #grilla-footer{
        padding-top: 50px;
        width: 100%;
        background-color: $fondo-color;
        font-size: 15px;
        
     
    }
    
    .derecha{ display: grid;
        
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 90%;
        grid-template-areas: "area2 area3";
    
    
    
    .primero{
      
        display: none;
        justify-content: center;
        align-content: center;
        filter: grayscale(100%);
        
        
    }
    
    
    .direccion{
        grid-area: area2;
        display: flex;
        align-items: center;
        align-content: center;
        flex-direction: column;
    }
    
    .redes{
        grid-area: area3;
        display: inline-block;
        align-items: center;
        align-content: center;
        flex-direction: column;
        
    }
    
    
    .bi-facebook:hover{
        color: blue;
    }
    
    .bi-whatsapp:hover{
    
        color: green;
    }
                 
    
    .bi-instagram:hover{
        color: rgb(194, 22, 122) ;
    }
    .bi-envelope:hover{
        color: red;
    }
    }

    /*tablas*/
    .sepia h1,h2{
        font-size: 20px;
    
    }
    table{
        margin-top: $margin-tabla;
        margin-left: auto;
        margin-right: auto;
        border-collapse: collapse;
        margin-bottom: $margin-tabla;
        
        & th,td {
        border: 3px solid $menu-resaltador;
        padding-left: $tabla-costados; 
        padding-right: $tabla-costados;
        padding-bottom: $tablas-updown; 
        padding-top: $tablas-updown;
        background-color: $fondo-color;
        color: $letras-color;
        font-size: 15px;
    
    }
    
     }
        
   
    #grilla-futbol{
        display: grid;
        gap: $espacio-grillas;
        grid-template-columns: 50% 50%;
        grid-template-rows: 1fr 1fr ;
        grid-template-areas:  "foto1 foto2"
                              "foto3 foto4";
   
    
    .img1{
        grid-area: foto1;
    }
    .img2{
        grid-area: foto2;
    }
    .img3{
        grid-area: foto3;
    }
    .img4{
        grid-area: foto4;
    }
    img{
    
        height: 100%;
        width: 100%;
        background-size: cover;
    
    
    
    }     }

    #grilla-padel{
        display: grid;
        gap: $espacio-grillas;
        grid-template-columns: 50% 50%;
        grid-template-rows: 1fr 1fr ;
        grid-template-areas:  "foto1 foto2"
                              "foto3 foto4";
        
    
    .img1{
        grid-area: foto1;
    }
    .img2{
        grid-area: foto2;
    }
    .img3{
        grid-area: foto3;
    }
    .img4{
        grid-area: foto4;
    }
    img{
    
        height: 100%;
        width: 100%;
        background-size: cover;
    
    
    
    }
}
    
 .nav-link{
        
        color: $letras-color;
        margin-left: 35px;
        &:hover{
        color:  $menu-resaltador;

      
     }
     }
    
    .container-fluid{
        font-size: 20px;
        
    .navbar-brand{
        color: $fondo-color;
        height: 50px;
        margin-left: 10px;
        font-size: 5px;
   

    }
    .navbar-toggler{
        background-color: $menu-resaltador;
        &:focus {
            outline: none;
            border-radius: none;
          }
    }

}



     #imagen-form{
        display: none;
     }




     .sepia{
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment:scroll;
        color: rgb(251, 252, 249); 
        display: flex;
        background-image: url(../img/sintetico.jpg);
        font-size: 25px;
        font-weight: 100px;
        background-position: center;
        min-height: 250px;
        filter: grayscale(100%);
        transition: all 1s;
      &:hover{ filter: grayscale(20%);
    }}
    
      }
  
    

