

    .nav-link{
        
        color: $letras-color;
        margin-left: 35px;
        &:hover{
        color:  $menu-resaltador;

      
     }
     }
    
    .container-fluid{ 
    
 
        font-size: 20px;
        }
    .navbar-brand{
        color: $fondo-color;
        height: 65px;
        margin-left: 20px;

    }
    .navbar-toggler{
        background-color: $menu-resaltador;
        
       
    }
     
     
    