*{ 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    /*index*/

 }

.canchas{
    background-color: black;
    width: 100%;
    height:100%;
}

h2{
    width: 100%;
    margin: right;
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 30px;
    font-size: 20px;
}
.logo{
    color: black;

    transition: all 2.5s;
}
.logo:hover{
transform:scale(0.8,0.8);

}

nav ul {
    list-style-type: none;
    padding: 10px, 20px 
}

li {
    display: inline-block;
    padding: 0px 30px;

}

nav ul li a{
    color:white;
    text-decoration: none;
    font-weight: bold;
}
 
nav ul li a:hover{
    color: whitesmoke;
    transition: 0.3s; 
    border-radius: 30px; 
    background: green;
    font-size: 15px;
    padding: 5px 10px; 
    border:none
}

body{
background-color: rgb(52, 56, 52);

}

#grilla{
    display:grid;
    gap: 5px;
    padding-bottom: 2px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 90%;
    grid-template-areas:
    "foto1 foto2 foto3 foto4";
}

.item1{
    grid-area: foto1;
    width: 100%;
    height: 100%
}
.item2{
    grid-area: foto2;
}
.item3{
    grid-area: foto3;
}
.item4{
    grid-area: foto4;
}


/*footer*/
div {
    background-color: black;
    color: white;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    flex: auto;
    padding-bottom: 15px;
}
#grilla-footer{
    padding-top: 15px;
   width: 100%;
   background-color: black;
     
}

.derecha{ display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "area1 area2 area3"
    "area1 area2 area3";

}
    
.mail{
    grid-area: area1;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
  
}



.direccion{
    grid-area: area3;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.medio{
    grid-area: area2;
    display: flex;
    justify-content: center;
    align-content: center;
}
.medio img{
    width: 30%;
    height: 100%
}


.sepia{
    display: flex;
    background-image: url(img/Cancha7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    background-position: center;
    background-attachment: scroll;
    color: black;
    justify-content: center;
    align-items: center;
    text-align:center;
    font-size: 25px;
    display: block;
    filter: grayscale(100%);
}
 .sepia:hover{ filter: grayscale(50%);

 }

/*contacto*/

.fondo{
    background-image: url(img/sintetico.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment:scroll;
    min-height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    filter: grayscale(100%);
    transition: all 1s;
}
 .fondo:hover{ filter: grayscale(20%);
}


.contactanos-caja{

    font-weight: bolder;
    width: 180px;
    height: 550px;
    margin-top: 30px;
    background-color: black;
    border-radius: 4px;
    color: white;
    margin-left: 80px;
    margin-bottom: 20px;
    
}
.ubi{
    
    justify-content: center;
    text-align: center;
    font-size: 35px;
    padding : 10px;
    margin-top: 10px;
    padding: 20px;
    color: white;
}
.container{
     width: 100%;
     display: flex;
      
}  
h1{
    text-align: center;
    color: white;
    padding: 15px;
}
form{
    width: 300px;
    margin-left: 15px;
}

form label{
    display: flex;
    margin-top: 11px;
    font-size: 16px;
}

form input{
    width: 100%;
    padding: 7px;
    border: 2px solid grey;
}
   button
   {
    width: 220px;
    height: 35px;
    margin-top: 20px;
    font-size: 15px;
    background-color: green;
    border: none;
    font-size: 15px;

   }
   .maps{
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 25px;
    background-color: rgb(52, 56, 52);
}
.ubi{
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 30px;
    background-color: rgb(52, 56, 52);
}

/* Entrenamiento*/

.entreno {
    display: flex;
    background-image: url(img/entreno.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment:scroll;
    min-height: 300px;
    color: black;
    justify-content: center;
    align-items: center;
    filter: grayscale(100%);
    transition: all 1s;
}
 .entreno:hover{ filter: grayscale(20%);
}

.profes{
    font-size: 40px;
    color: white;
    justify-content: center;
    align-items: baseline;


}
/*Tablas*/

table{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    margin-bottom: 50px;

}
th,td {
    border: 3px solid yellowgreen;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: black;
    color: white;
    font-size: 40px;

}

/* Padel*/
.padel{
    display: flex;
    background-image:url(img/padel1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment:scroll;
    min-height: 250px;
    filter: grayscale(100%);
    transition: all 1s;
}
 .padel:hover{ filter: grayscale(20%);
}

#grilla-padel{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 90%;
    grid-template-areas: blindex1 blindex3 blindex4 blindex5; 
     gap: 5px;
}
img{
    width: 100%;
    height: 100%;
}
/* Futbol*/
.futbol{
    display: flex;
    background-image:url(img/football.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment:scroll;
    min-height: 250px;
    filter: grayscale(100%);
    transition: all 1s;
}
 .futbol:hover{ filter: grayscale(20%);
}

#grilla-futbol{
    display: grid;
    gap: 5px;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 90% ;
    grid-template-areas:  "foto1 foto2 foto3 foto4";
    }

.img1{
    grid-area: foto1;
}
.img2{
    grid-area: foto2;
}
.img3{
    grid-area: foto3;
}
.img4{
    grid-area: foto4;
}
img{

    height: 100%;
    width: 100%;
    background-size: cover;
}